.restaurant-details-container {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #020230), url('../../assets/food6.jpeg') center;
}

.restaurant-details {
  display: flex;
  justify-content: center;
}

.reviews-component {
  margin-top: 3px;
}

h1 {
  align-self: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}