.restaurant-details-container {
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("../../assets/food6.jpeg") center;
}

.restaurant-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-component {
  margin-top: 3px;
}

.restaurant-name {
  font-size: 60px;
  padding: 20px;
  color: rgb(185, 160, 16);
  text-shadow: 2px 2px 2px #000000;
}

.home-link-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.home-link {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

h1 {
  align-self: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.reviews-average {
  color: white;
}